#second-div {
    margin: 15px auto;
    padding: 15px 20px;
    width: 80%;
    max-width: 600px;

    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);

    font-size: 20px;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    font-weight: 500;
}

a p {
    color: #d9534f;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

a p:hover {
    text-decoration: underline;
}

.aktivno {
    color: #28a745 !important;
}

.container {
    margin-top: 20px;
}

.info h2 {
    margin-bottom: 20px;
}
a { text-decoration: none; }
    .paginacija { margin-top: 1em; text-align: center; }
    .paginacija a,
    .paginacija div { display: inline-block; border: 1px solid silver; border-radius: 1em; padding: 0.25em 0.5em; margin: 0 2px; }
    .paginacija div { background-color: grey; }