/* GLOBAL */
body {
    background-color: #181818;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

/* FILTERI */
.filters {
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 20px 30px 0 30px;
}

.filters input,
.filters select {
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #444;
    font-size: 15px;
    flex: 1;
    outline: none;
    background: #222;
    color: #fff;
    transition: .2s ease;
}

.filters input:focus,
.filters select:focus {
    border-color: #7c217c;
    box-shadow: 0 0 4px rgba(124, 33, 124, 0.6);
}

/* GRID LAYOUT */
.card-holder {
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 30px;
}

/* KARTICA */
.card {
    background: #242424;
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.5);
    border: 1px solid #333;
    transition: .25s ease;
    color: white;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.65);
}

/* NASLOV */
.card h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #d69ef7;
}

/* CENA */
.price {
    font-size: 18px;
    font-weight: bold;
    color: #eb58eb;
    margin-bottom: 15px;
}

/* OPIS */
.card p {
    font-size: 15px;
    color: #ccc;
    line-height: 1.5;
}

/* DUGMAD */
.card-action {
    margin-top: 20px;
    display: flex;
}

.button {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    background: #7c217c;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease;
}

.button:hover {
    background: #490e2e;
}

.button.disabled {
    background: #555;
    cursor: not-allowed;
    opacity: 0.6;
}

.button.disabled:hover {
    background: #555;
}
