
.footer {
    background-color: #181818;
    color: rgba(255, 255, 255, 0.911);
    padding: 40px 10%;
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-section h3 {
    color: #BF40BF;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 6px 0;
}

.footer-section ul li a,
.social-icons a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.911);
    transition: 0.3s;
    font-size: 14px;
}

.social-icons a {
    display: block;
    margin: 5px 0;
}

.footer-section a:hover {
    color: #BF40BF;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 15px;
    font-size: 14px;
}

