body {
    background-color: #181818;
}

.holder-login{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 20px;
}

.login-container {
    width: 400px;
    height: 500px;
    padding: 30px;
    background: rgba(161, 161, 161, 0);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 14, 223, 0.473);
    text-align: center;
}

.login-container h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 28px;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    color: #eee;
    font-size: 18px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(194, 189, 189, 0.966);
    border-radius: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background: #BF40BF;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.btn:hover {
    background: #bf40bf59;
}

p{
    color: #eee;
    font-size: 18px;
}
a{
    color: red;
    cursor: pointer;
}
.error-msg {
    margin-top: 30px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}
